@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "montserrat";
  background-color: #f5f5f5;
}
